<div style="min-width:6rem;max-width:6rem;">{{ content.title || "暂无" }} </div>
<div style="min-width:8rem;max-width:8rem;">{{ content.company.name || "" }} </div>
<div style="min-width:8rem;max-width:8rem;">{{ content.name || "" }} </div>
<div style="min-width:8rem;max-width:8rem;">{{ content.alias || "暂无" }} </div>
<div style="min-width:6rem;max-width:6rem;">{{ content.number || "暂无" }} </div>
<div style="min-width:16rem;max-width:16rem;text-overflow:ellipsis;word-break:break-all;">{{ content.mail || "" }} </div>
<div style="min-width:16rem;max-width:16rem;">
    <div>QQ：{{ content.otherContacts.QQ || "" }} </div>
    <div>微信： {{content.otherContacts.wechat || ""}}</div>
</div>
<div style="min-width:6rem;max-width:6rem;">{{content.location}}</div>
<div style="min-width:6rem;max-width:6rem;">{{content.preferredLanguage | language}}</div>