<div style="min-width:6rem">{{content.account.name || ""}}</div>
<div style="min-width:3rem">{{content.priority}}</div>
<div style="min-width:8rem;">{{content.schedule}}</div>
<div style="min-width:8rem">{{content.product.name}}</div>
<div style="min-width:8rem">{{content.env}}</div>
<div style="min-width:6rem;">{{content.status}}</div>
<div style="min-width:6rem;">{{content.suppliers}}</div>
<div style="min-width:6rem;">{{content.validFrom}}</div>
<div style="min-width:6rem;">{{content.validUntil}}</div>