<div style="min-width:6rem;max-width:6rem;">{{ content.title || "" }} </div>
<div style="min-width:6rem;max-width:6rem;">{{ content.department || "" }}</div>
<div style="min-width:8rem;max-width:8rem;">{{ content.name || "" }}</div>
<div style="min-width:8rem;max-width:8rem;">{{ content.nameCN || "" }}</div>
<div style="min-width:4rem;max-width:4rem;">{{ content.number || "" }}</div>
<div style="min-width:16rem;max-width:16rem;text-overflow:ellipsis;word-break:break-all;">{{ content.mail || "" }}</div>
<div style="min-width:6rem;max-width:6rem;">{{ content.location || "" }}</div>