<style>
    h3{
        display:flex;
        flex-direction:row;
        width:100%;
        margin-top:0.5rem;
    }

    h3 >a{
        margin-left:auto;
        margin-right:2rem;
        color:inherit;
    }

    h3 >a:hover{
        color:lightskyblue;

    }

    h3 >a:visited:hover{
        color:mediumslateblue;
    }

</style>

<h1>索引</h1>
<div style="margin-top:2rem;margin-left:auto;margin-right:auto;width:45rem;">
    <h3>1.  概述
        <a href="/QATool/introduction">
            <i class="fas fa-angle-double-right"></i><i class="fas fa-angle-double-right"></i>
        </a>
    </h3>
    <p>本篇将对本QA工具一个简单的介绍并介绍QA工具的使用方法。</p>
    <h3>2.  License Check
        <a href="/QATool/tools">
            <i class="fas fa-angle-double-right"></i><i class="fas fa-angle-double-right"></i>
        </a>
    </h3>
    <p>本工具将提供对产品相关license的测试</p>
</div>