*{
    margin:0;
    border:0;
}

body{
    color: rgba(85,85,85,1);
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

#guide a{
    text-decoration:none;
    color:rgba(115,115,115,1);
}

#guide a:hover{
    text-decoration:none;
    color:lightskyblue;
}

#guideExpand{
    width:2rem;
    background:lightgray;
    transition:background 0.4s, color 0.2s;
    color:rgba(115,115,115,1);
    display:flex;
    position:fixed;
    height:100%;
}

#guideExpand:hover{
    background:rgba(125,125,125,0.7);
    color:white;
}

a{
    margin-top:auto;
    margin-bottom:auto;
}

.noBtn{
    padding-left:1.3rem;
}

#blog{
    flex:1;
    display:flex;
    flex-direction:row;
}

#main{
    flex:1;
    display:flex;
    flex-direction:column;
}

#main h1{
    font-size: 1.8rem;
    margin-top:1rem;
    letter-spacing:0.5rem;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:2rem;
}

#main h2{
    font-size: 1.4rem;
    margin-left:0;
    margin-right:auto;
    margin-top:2rem;
    margin-bottom:-0.5rem;
}

#main h2:before{
    content: '➤';
    margin-right:1rem;
}


#main p{
    text-indent:2rem;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
}

#main .table{
    margin-left:2.5rem;
}

.row{
    display:flex;
    flex-direction:row;
}

.row >div{
    min-width:5rem;
    border:1px solid rgba(185,185,185,1);
    text-indent:2px;
    padding-top:2px;
    padding-bottom:2px;
}

.rowContent >div{
    text-indent:0.2rem;
}

#guide{
    max-width:16rem;
    overflow:auto;
    white-space:nowrap;
    position:fixed;
    left:0;
    background:rgba(245,245,245,1);
    height:100%;
    z-index:99;
}

#guide>ul{
    margin-left:0;
    padding-left:0;
    margin-top:1.5rem;
}

#guide button{
    width:1rem;
    text-align:center;
    padding:0;
}

#guide ul{
    list-style:none;
    margin-left:1.5rem;
    padding-left:0;
}

#footer {
    margin-bottom:1rem;
    text-align:center;
    width:100%;
    margin-top:auto;
    font-size:1rem;
}

.contents>h3{
    margin-top:1rem;
    border-bottom:4px double rgba(85,85,85,1);
    width:auto;
    align-self: baseline;
    display:inline-block;
    margin-left:1rem;
}

.contents h4{
    margin-top:0.5rem;
    margin-left:1rem;
}

.contents img{
    width:65%;
    margin-top:1rem;
    margin-left:5rem;
}

.numOrder{
    font-size:1.2rem;
    margin-right:1rem;
    font-weight:bold;
}

.contents{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5rem;
    max-width:85%;
    min-width:65%;
}

.dashTable tr:nth-child(odd){
    background:lightsteelblue;

}

td{
    padding:0.4rem;
}

table{
    margin-top:0.6rem;
    margin-bottom:0.6rem;
}

table, tr, td{
    border:1px solid rgba(185,185,185,1);
}

.noBorder, .noBorder tr, .noBorder td{
    border:none;
}

td >ul{
    margin-left:0.5rem;
    padding-left:0.5rem;
}

.dashTable td{
    padding:2px;
    padding-left:5px;
    padding-right:2px;
}

.critical{
    color:orangered;
    font-weight:bold;
    border-bottom:3px double orangered;
}

.fileserver{
    color:lightseagreen;
}

.tableInstruct{
    background:rgba(155,194,230);
    color:white;
    font-size:0.8rem;
    font-weight:bold;
}