<h1 style="letter-spacing:0.2rem;">授权许可的分发与统计</h1>

<div class="contents">
    <p>在产品交付给客户之后，我们仍然需要对客户的发行的产品数量进行统计并发放单独的软件许可，同时向客户收取相关的许可费用，这个费用被称为Royalty。</p>
    <p>除了能够用cidana server统一进行统计的产品之外，我们也负担有对发型的产品数量进行统计监管、以完成商务报告的职责，本文档将详细阐述如何为不同类型的产品分发许可，并完成记录与监测。</p>


    <h3>&nbsp许可类型&nbsp</h3>
    <p>本司的许可类型分为以下几种：</p>
    <p style="font-weight:bold;">a) cidana server</p>
    <div style="margin-left:2rem;padding-left:1rem;">
        <p>cidana server是最新的授权产品追踪方式，通过联网的方式实时检测用户的授权许可，这种方法最为保险，但需要客户方愿意配合，因此目前只有我们自主发布的手机应用能够整合该授权方式。</p>
        <p>具体授权流程及已经适用的产品详情请参照本章第二节：<a href="/tutorial/deliverylicenseServer">cidana server的使用</a>。</p>
    </div>
    <p style="font-weight:bold;">b) UUID</p>
    <div style="margin-left:2rem;padding-left:1rem;">
        <p>这种授权方式较为古老，由客户方提供需要的授权码号码与数量，我方根据提供来的编码生成License包文件并发送给客户。。</p>
        <p>具体授权流程及已经适用的产品详情请参照本章第一节：<a href="/tutorial/deliveryUUID">UUID的分发</a>。</p>
    </div>
    <p style="font-weight:bold;">c) 一次性授权</p>
    <div style="margin-left:2rem;padding-left:1rem;">
        <p>等待更新</p>
    </div>

    <h3>&nbsp注意事项&nbsp</h3>
    <p>a) 对于用第一种授权方法的应用或产品，需要在发送给客户之前就采取行动，具体方法参照本章第二节：<a href="/tutorial/deliverylicenseServer">cidana server的使用</a>。</p>

    <h3>&nbspRoyalty的记录&nbsp</h3>
    <p>a) 对于一部分产品，尤其是使用了cidana license server的授权方式的产品而言，我们使用cidana license server来完成对Royalty数量的追踪。主要包括DTV Player等apk形式发布的产品。</p>
    <p>b) 对于使用UUID发布的产品，我们本地需要留存UUID发布的记录，并手动记录客户量产的数量，与客户汇报上来的量产数量进行比对，完成核查工作。</p>
    <p>c) 对于一次性授权的产品，我们只能依赖客户每个季度提供的Royalty报告，需要定时向客户催收并提供给财务以发出invoice。</p>


</div>