<h1 style="letter-spacing:0.2rem;">Cidana Server的许可分发</h1>

<div class="contents">
    <p>使用Cidana Server对整合了相应OEM id的软件版本分发许可是从2019年开始采取的新授权手段，通过联网的方式灵活方便地确认用户授权，并可以更改多种授权类型，限制部分功能等等。</p>
    <p>条件允许的情况下应当尽量劝说用户使用这种授权。</p>

    <h3>&nbspServer地址&nbsp</h3>
    <p>账号(区分大小写）：</p>
    <div style="margin-left:2.5rem;">
        <table border="1" style="margin-left:2.5rem;">
            <tr><td><b>Username:</b></td><td>Sophie</td><td><button onclick="copyPrev(this)">复制</button></td></tr>
            <tr><td><b>Password: </b></td><td>sophie</td><td><button onclick="copyPrev(this)">复制</button></td></tr>
        </table>
    </div>
    <div style="margin-left:2.5rem;">
        网址：<a target="_blank" href="https://sshz.cidanash.com:9090/content.html#/itemClick/CONTENT_CUSTOMER?_k=qlpl7b">https://sshz.cidanash.com:9090/content.html#/itemClick/CONTENT_CUSTOMER?_k=qlpl7b</a>
        <span><button style="margin-left:2rem;" onclick="copyPrev(this)">复制</button></span>
    </div>

    <h3 style="margin-top:3rem;">&nbsp许可类型&nbsp</h3>
    <p>a） No limit</p>
    <p style="margin-left:2rem;">可以永久使用下去。</p>
    <p>b) Denied</p>
    <p style="margin-left:2rem;">彻底收回许可，任何条件下都无法使用</p>
    <p>b) By end of</p>
    <p style="margin-left:2rem;">有时间限制的许可，在一定时间段内有效。</p>

    <h3 style="margin-top:3rem;">&nbsp创建许可步骤&nbsp</h3>
    <p>a) 进入purchase order页面</p>
    <img src="/img/2020-04-28_11-41-29.png">
    <p>b) 创建PO（订单）</p>
    <img src="/img/2020-04-28_11-44-43.png">
    <div style="margin-left:4.5rem;">
        <div>填写注意事项</div>
        <table style="border-collapse:collapse;">
            <tr><td><b>Select OEM</b></td><td>OEM ID需要联系PM Manager创立，并在apk出版本前就整合进apk中。</td></tr>
            <tr><td><b>Purchase Date</b></td><td>如实填写购买日期即可</td></tr>
            <tr><td><b>Quantity</b></td><td>该笔单据一共购买了多少台设备。</td></tr>
            <tr><td><b>Quota</b></td><td>？？？？？？？</td></tr>
            <tr><td><b>Description</b></td><td>该笔订单的具体描述信息</td></tr>
        </table>
    </div>
    <p>c) 进入customer，选中刚刚创建的PO，点击PO中的OEM,在页面的下方会出现详情。</p>
    <img src="/img/2020-04-28_11-54-46.png">
    <p>d) 在详情中更改许可类型</p>
    <img src="/img/2020-04-28_11-55-58.png">
    <p>e) 点击旁边的update validate info, 完成许可更新</p>


    <h3 style="margin-top:3rem;">&nbsp注意事项&nbsp</h3>
    <p>a) Cidana Server的限制授权如订阅模式等等只能在我司自主开发的应用上使用。</p>
    <p>b) Cidana Serve的登录状态在直接跳转的情况下可能会有误，审查左上角，如果login为null的情况下需要登出后重新登录。</p>
    <img src="/img/2020-04-28_11-35-44.png">

</div>