<h1>PM工作概述</h1>

<div class="contents">
    <p>本章内容将对公司的PM工作进行一个大概的阐述，详细的PPT文档存放在assets/document/PM's Training.ppt中。</p>
    <p>Cidana的项目经理职责将被大致划分为如下几个范畴：</p>
    <ul style="margin-left:2rem;">
        <li>我们的项目产出什么-了解公司产品（product management)</li>
        <ul>
            <li>产品的定义</li>
            <li>产品的宣传</li>
        </ul>
        <li>我们如何获得项目-市场开拓(Business Development)</li>
        <li>我们如何管理项目-项目管理(Project Management)</li>
        <ul>
            <li>Accounts Management</li>
            <li>Scope Definition</li>
            <li>Time Management</li>
            <li>Cost Management</li>
            <li>Asset Management</li>
            <li>Product Delivery</li>
            <li>Monitor and Control</li>
            <ul>
                <li>Marketing meeting，口头汇报</li>
                <li>Reports, 书写各种report并提供给相应的人员</li>
                <li>QBR, 对自己的工作进行自我评价</li>
            </ul>
        </ul>

    </ul>


    <h3>Cidana 产品概览</h3>
    <p>等待更新</p>
</div>