<style>
    .contents >img{
        margin-top:2rem;
        width:2rem;
        display:inline-block;
        margin-left:2rem;
        margin-bottom:-0.6rem;
        margin-right:1rem;
    }
</style>
<h1>PM使用的工具介绍</h1>

<div class="contents">
    <p>本篇对本公司使用的几样PM工具以及常用的Excel表格进行简单的介绍，</p>
    <p>具体工具使用包括以下几个类别：    </p>
    <ul style="margin-left:2.5rem;">
        <li>时间管理类</li>
        <li>文件传输类</li>
        <li>记录汇报类</li>
        <li>沟通交流类</li>
    </ul>


    <h2>时间管理类</h2>
    <img src="/img/UI/2020-05-09_13-45-40.jpg"><h3>&nbspMicrosoft To Do&nbsp</h3>
    <p>简单的个人时间管理软件，类似的产品有很多，选择自己喜欢的使用即可。</p>
    <p>循环开设的任务主要如下：</p>
    <table style="margin-left:2.5rem;">
        <tr><td>Task</td><td>Details</td><td>Time</td><td>recurring</td></tr>
        <tr><td colspan="4" class="tableInstruct">会议类</td></tr>
        <tr><td>Marketing Meeting</td><td><a>+前往+</a></td><td>10 AM Monday</td><td>Every Week</td></tr>
        <tr><td>Project Meeting</td><td><a>+前往+</a></td><td>11 AM Monday</td><td>Every Week</td></tr>
        <tr><td>Staff Meeting</td><td><a>+前往+</a></td><td>3 PM Monday</td><td>Every Week</td></tr>
        <tr><td>Quartely Business Review</td><td><a>+前往+</a></td><td>Thursday/Friday all Day</td><td>Every Season</td></tr>
        <tr><td colspan="4" class="tableInstruct">汇报类</td></tr>
        <tr><td>Run-rate Report</td><td><a>+前往+</a></td><td>Thursday</td><td>Every Week</td></tr>
        <tr><td colspan="4" class="tableInstruct">客户关系类</td></tr>
        <tr><td>Holiday Gift</td><td><a>+前往+</a></td><td>Mid-autumn festival</td><td>Every Year</td></tr>
    </table>
    <p>此外有些项目会有规律性的类似于汇报会议等内容，可以根据需要自行添加。</p>

    <h2>记录汇报类</h2>
    <img src="/img/UI/2020-05-09_13-52-04.jpg"><h3>&nbspOffice Excel&nbsp</h3>
    <p>主要用于记录与汇报相关信息，目前由PM规划管理的几张表如下：</p>
    <table style="margin-left:2.5rem;">
        <tr><td>表格名称</td><td>表格用途</td><td>表格使用方法</td></tr>
        <tr><td>logs</td><td><a>用于记录当前项目的状态</a></td><td>待更新</td></tr>
        <tr><td>UUID</td><td><a>用于记录发放出去许可的数量和当前已使用的数量</a></td><td>待更新</td></tr>
        <tr><td>Management Accounts</td><td><a>用于记录和维护客户的联系人、FTP账户等等客户相关的信息。</a></td><td>待更新</td></tr>
    </table>

    <h2>沟通交流类</h2>
    <img src="/img/UI/2020-05-09_14-13-47.jpg"><h3>&nbspMicrosoft Team&nbsp</h3>
    <p>主要用于内部成员沟通与交流，以及会议的召开、文件分享等等：</p>

    <h2>产品管理工具</h2>
    <img src="/img/UI/2020-05-09_14-16-01.jpg"><h3>&nbspGoogle Play Console&nbsp</h3>
    <p>主要用于记录和管理公司已经发放的Android市场应用产品。</p>
    <p>地址：<a href="https://play.google.com/apps/publish/?account=7016177104650620861#AppListPlace">+前往+</a></p>

    <img src="/img/UI/2020-05-09_14-18-53.jpg"><h3>&nbspGoogle Analytics&nbsp</h3>
    <p>主要用于记录和管理公司产品的销售量与销售情况。</p>
    <p>地址：<a href="https://analytics.google.com/analytics/web/?hl=zh-CN&pli=1#/p218701843/reports/home?params=_u..nav%3Dga1-experimental">+前往+</a></p>
    <p>使用教程：<a href="/tutorial/reportroyalty#googleAnalytics" target="_blank">+前往+</a></p>

    <img src="/img/UI/2020-05-09_14-30-02.jpg"><h3>&nbspFile Zilla&nbsp</h3>
    <p>公司使用的FTP传输工具，主要用于对客户发布和传输必备的镜像文件、sdk文件等等内容使用。</p>
    <p>基本保持一个客户一个账号的原则，如果该客户在客户信息中没有开设FTP账户，或已开设的FTP账户失效，需要联系IT人员进行重新分配。</p>
    <p>可依照自己的喜好使用自己习惯使用的FTP传输工具。</p>
    <table style="margin-left:2rem;">
        <tr><td>公网地址</td><td>ftp.cidanaash.com</td></tr>
        <tr><td>内部访问地址</td><td>ftp://ftp.cidanash.com:8021</td></tr>
    </table>
</div>