<h1>CIDANA人员评分标准</h1>

<div class="contents">
    <p>本篇主要为项目经理给团队人员的评分标准提供参考，评分可按照下列标准。</p>

    <h3>人员KPI评价标准：</h3>
    <p>项目的KPI评价标准如下</p>
    <ul style="margin-left:2rem;">
        <li>成功完成所分派任务，计<b>80分</b>;</li>
        <li>超额完成被分配的任务，对项目推进做出了相应的贡献，酌情添加<b>0.5分</b>等，上不封顶;</li>
        <ul>
            <li>完成项目阶段性任务(milestone)，增加<b>1分</b></li>
            <li>该期间工作量大或节奏强度高，酌情增加<b>0.5-1分</b></li>
            <ul>
                <li><button onclick="expandLayer(this)">-</button>bug修复阶段：</li>
                <ul style="display:none;">
                    <li>单个项目修复量<b>≥10人天</b>，增加<b>1分</b></li>
                    <li>在此基础上每增加<b>10人天</b>工作量，每项目增加<b>0.5分</b>;</li>
                </ul>
                <li><button onclick="expandLayer(this)">-</button>开发性阶段</li>
                <ul style="display:none;">
                    <li>总工作量超过<b>30人天</b>，在投入最多项目上增加<b>0.5分</b></li>
                </ul>
            </ul>
            <li>主动承担他人的工作并成功完成，对项目推进有贡献的，增加<b>0.5分</b></li>
        </ul>
        <li>在项目的进程中为公司做出额外贡献者，酌情增加<b>0.5-1.5分</b>;</li>
        <ul>
            <li>简化了公司项目工作流程、减少时间成本的，增加<b>0.5分</b></li>
            <li>研究前沿技术，及时响应市场需求的， 增加<b>0.5分</b></li>
            <li>修复了产品线上的general bug,提升产品质量的，增加<b>0.5分</b></li>
        </ul>
        <li>在团队协作上做出了杰出贡献者，增加<b>0.5-1分</b>不等;</li>
        <ul>
            <li>有帮助其他同事提供难题思路或者解决难题，每项<b>0.5分</b>.</li>
            <li>有杰出的技术分享或报告，每项<b>0.5分</b>.</li>
        </ul>
        </li>
    </ul>

    <h3>工作量评测标准：</h3>
    <p>bug修复任务，该任务量的评测标准如下：</p>
    <ul style="margin-left:2rem;">
        <li>高难度bug,预估超过5人天</li>
        <li>中难度bug，预估超过3人天</li>
        <li>低难度bug，预估超过1人天</li>
    </ul>
</div>