<h1 style="letter-spacing:0.2rem;">DTV Player（电视播放器）综述</h1>

<div class="contents">
    <p>DTV，数据电视播放器，是公司的主营业务之一，目前该产品涉及到的项目有Eachin(浥晨）等厂商。</p>
    <p>本文档中将先后介绍<a href="#DTVType">DTV播放器的类型</a>、<a href="#DTVDecoders">不同类型使用的解码器</a>及其相对应的注意事项，以及相关的UI资源版本等等</p>

    <h3 id="DTVType">&nbspDTV的类型&nbsp</h3>
    <p>在世界各地不同地区，根据TV信号传输协议等的不同，TV播放器也分为不同的型号，具体的型号参数可以参加下表:</p>
    <img src="/img/Worldwide digital tv standard.png" alt="世界DTV型号表">
    <p style="margin-left:3rem;">来源：<a href="https://www.vcan.cc/support/worldwide-digital-tv-receiver.html">https://www.vcan.cc/support/worldwide-digital-tv-receiver.html</a></p>

    <p>本公司主营业务地区：</p>
    <table style="margin-left:3rem;">
        <tr><td>DTV名称</td><td>国家与地区</td><td>分支版本</td></tr>
        <tr>
            <td>ISDB-T Player</td>
            <td>日本，巴西</td>
            <td>
                <ul>
                    <li>full-seg(高清)制式</li>
                    <li>one-seg(标清)制式</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>ATSC Player</td>
            <td>美国，韩国</td>
            <td>
                <ul>
                    <li>ATSC 1.0(支持）</li>
                    <li>ATSC 3.0（暂不支持）的版本</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>DMB-T Player</td>
            <td>韩国</td>
            <td></td>
        </tr>
        <tr>
            <td>DVB-T</td>
            <td style="max-width:16rem;">北非大部分国家 莱索托Lesotho、欧洲的：西班牙Spain、法国France、波兰Poland、挪威Norway、爱尔兰Ireland、葡萄牙Portugal、沙特Saudi Arabia、土耳其Turkey、伊朗Iran、哈萨克斯坦Kazakhstan、乌兹别克斯坦Uzbekistan、亚洲的缅甸Myanmar、澳大利亚Australia 巴拿马Panama 布基纳法索Burkina </td>
            <td></td>
        </tr>
        <tr>
            <td>DVB-T2 Player</td>
            <td style="max-width:16rem;">泰国Thailand、印度India、印尼Indonesia、俄罗斯Russia、瑞典Sweden。芬兰Finland、英国UK、哥伦比亚Colombia 新加坡Singapore 越南Vietnam </td>
            <td><ul>
                <li>H.265</li>
                <li>普通</li>
            </ul></td>
        </tr>
    </table>


    <h3 id="DTVDecoders">&nbspDTV的解码器构成&nbsp</h3>
    <p>请参照下表对照不同的DTV播放器使用的解码器，并在对客户提供的SOW说明书中阐明:</p>
    <table style="margin-left:3rem;">
        <tr>
            <td>播放器名称</td>
            <td>组成部分</td>
            <td>解码器组成</td>
            <td>是否需要第三方许可</td>
            <td>注意信息</td>
        </tr>
        <tr>
            <td style="border-bottom:none"></td>
            <td>video decoder</td>
            <td>
                <ul>
                    <li>mpeg-2</li>
                    <li>h.264</li>
                </ul>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="border-bottom:none;border-top:none;">DVB T/C</td>
            <td>Audio decoder</td>
            <td><ul>
                <li> Mpeg-audio</li>
                <li>AC3</li>
                <li>AAC</li>
            </ul></td>
            <td>
                <ul>
                    <li>无</li>
                    <li>Dolby</li>
                    <li>无</li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td style="border-bottom:none;border-top:none;"></td>
            <td>Subtitle/CC</td>
            <td>Dvb subtitle</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="border-top:none;"></td>
            <td>EPG</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="border-bottom:none;"></td>
            <td>Video decoder</td>
            <td><ul>
                <li>h.264</li>
                <li>h.265</li>
            </ul></td>
            <td></td>
            <td><ul>
                <li></li>
                <li>需要机器硬件支持解码10bit视频</li>
            </ul></td>
        </tr>
        <tr>
            <td style="border-top:none;border-bottom:none;">DVBT2</td>
            <td>Audio decoder</td>
            <td>AAC</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="border-top:none;border-bottom:none;"></td>
            <td>Subtitle/CC</td>
            <td>DVB subtitle</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="border-top:none;border-bottom:none;"></td>
            <td>EPG</td>
            <td>EPG</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>DVBH</td>
            <td></td>
            <td></td>
            <td></td>
            <td>市场上基本已经淘汰，不再支持</td>
        </tr>
        <tr>
            <td>DVBS</td>
            <td></td>
            <td></td>
            <td></td>
            <td>需要S standards for satellite<br>cidana不提供该产品 </td>
        </tr>
        <tr>
            <td style="border-bottom:none"></td>
            <td>Video decoder</td>
            <td>mpeg-2</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="border-bottom:none;border-top:none;">ATSC 1.0</td>
            <td>Audio decoder</td>
            <td><ul>
                <li>mpeg-audio</li>
                <li>AC3</li>
            </ul></td>
            <td><ul>
                <li></li>
                <li>Dolby</li>
            </ul></td>
            <td></td>
        </tr>
        <tr>
            <td style="border-bottom:none;border-top:none;"></td>
            <td>Subtitle/CC</td>
            <td>ATSC CC</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="border-top:none;"></td>
            <td>EPG</td>
            <td>EPG</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td >ATSC M/H</td>
            <td></td>
            <td></td>
            <td></td>
            <td>这相当于第二代的ATSC，但我们并不支持</td>
        </tr>
        <tr>
            <td style="border-bottom:none;"></td>
            <td>Video decoder</td>
            <td>h.265</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="border-top:none;border-bottom:none;">ATSC 3.0</td>
            <td>Audio decoder</td>
            <td><ul><li>mpeg-h（韩)</li><li>AC4(美）</li></ul></td>
            <td><ul><li></li><li>需要购买license</li></ul></td>
            <td><ul><li></li><li>需要机器支持10bit</li></ul></td>
        </tr>
        <tr>
            <td style="border-top:none;border-bottom:none;"></td>
            <td>Subtitle/CC</td>
            <td>ATSC 3.0 CC</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="border-top:none;"></td>
            <td>EPG</td>
            <td>Omabcast-EPG</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="border-bottom:none;"></td>
            <td>video decoder</td>
            <td>h.264</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="border-top:none;border-bottom:none;"></td>
            <td>Audio decoder</td>
            <td>AAC</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="border-top:none;border-bottom:none;">ISDBT</td>
            <td>subtitle/cc</td>
            <td>ISDBT CC</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="border-top:none;border-bottom:none;"></td>
            <td>EPG</td>
            <td>DVB EPG</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="border-top:none;"></td>
            <td>Data service</td>
            <td>BML（日）</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="border-bottom:none;"></td>
            <td>Video decoder</td>
            <td>h.264</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="border-top:none;border-bottom:none;"></td>
            <td>Video decoder</td>
            <td>AAC</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="border-top:none;border-bottom:none;">SBTVD(巴西）</td>
            <td>Subtitle/CC</td>
            <td>ISDBT CC</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="border-top:none;border-bottom:none;"></td>
            <td>EPG</td>
            <td>DVB EPG</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="border-top:none;border-bottom:none;"></td>
            <td>Data service</td>
            <td>Ginga(Brazil)</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="border-top:none;"></td>
            <td>scan</td>
            <td>none</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="border-bottom:none;"></td>
            <td>Video decoder</td>
            <td><ul>
                <li>mpeg-2</li>
                <li>h.264</li>
                <li>AVS</li>
                <li>AVS+</li>
            </ul></td>
            <td>
                <ul>
                    <li></li>
                    <li></li>
                    <li>需要客户过国际认证</li>
                    <li>需要客户过国际认证</li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td style="border-bottom:none;border-top:none;">DTMB<br>国标</td>
            <td>Audio decoder</td>
            <td><ul>
                <li>mpeg-audio</li>
                <li>AC3</li>
                <li>AAC</li>
            </ul></td>
            <td>
                <ul>
                    <li></li>
                    <li>Dolby</li>
                    <li></li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td style="border-bottom:none;border-top:none;"></td>
            <td>subtitle/CC</td>
            <td>DVB subtitle</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="border-bottom:none;border-top:none;"></td>
            <td>EPG</td>
            <td>EPG</td>
            <td></td>
            <td></td>
        </tr>
    </table>

</div>