<h1 style="letter-spacing:0.2rem;">视频编解码器的概述</h1>

<div class="contents">
    <p>各视频、音频数据流的编解码器是我司的核心技术业务，大部分的衍生解决方案都是基于该技术而衍生，其支持的产品多种多样。</p>
    <p>本文档中将先后介绍<a href="#codecProcess">编解码的流程</a>、公司的<a href="#parsers">解析支持的流数据类型</a>,<a href="#decoders">主要解码支持格式</a>等等。</p>

    <h3>&nbsp编解码的简单流程&nbsp</h3>
    <p>一个流数据的解析过程简单地分为如下几步：</p>

    <h3>&nbsp流解析(stream parser)的支持格式&nbsp</h3>
    <div style="margin-left:1.5rem;">
        <table>
            <tr>
                <td>MP4</td>
                <td>3GP</td>
                <td>DivX </td>
                <td>XviD </td>
                <td>MOV </td>
                <td>WMA </td>
                <td>AVI </td>
            </tr>
            <tr>
                <td>ASF</td>
                <td>RM</td>
                <td>RMBV</td>
                <td>FLV</td>
                <td>MPG</td>
                <td>VOB</td>
                <td>MKV</td>
            </tr>
            <tr>
                <td>FLAC</td>
                <td>MP3</td>
                <td>MP2</td>
                <td>AAC</td>
                <td>OGG</td>
                <td>AMR</td>
                <td>APE</td>
            </tr>
        </table>
    </div>

    <h3>&nbsp主要解码器类型&nbsp</h3>
    <div style="margin-left:1.5rem;">
        <table>
            <tr>
                <td>video decoder</td>
                <td>
                    <table>
                        <tr><td>解码器名称</td><td>特性</td><td>资料</td></tr>
                        <tr><td>AV1</td><td>可自动根据带宽弹性拉伸压缩比率，大大减少流传输的带宽一种编解码方式</td><td></td></tr>
                        <tr><td>H.263</td><td></td><td></td></tr>
                        <tr><td>H.264</td><td>本司也可支持到High profile</td><td></td></tr>
                        <tr><td>H.265</td><td><ul><li>需要硬件支持10bit流的读取播放</li></ul></td><td></td></tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>Audio decoder</td>
                <td>RM</td>
            </tr>
            <tr>
                <td>Speech decoder</td>
                <td>MP3</td>
            </tr>
        </table>
    </div>

</div>