<h1 style="letter-spacing:0.2rem;">DTV Player（电视播放器）综述</h1>

<div class="contents">
    <p>CIDNA DTV 的统一模板有着standard 和premium plan的区别。</p>

    <h3>&nbspPlan的对比&nbsp</h3>
    <p>在世界各地不同地区，根据TV信号传输协议等的不同，TV播放器也分为不同的型号，具体的型号参数可以参加下表:</p>
    <table>
        <tr><td>standard plan(free)</td><td>premium plan(1.99$/year)</td></tr>
        <tr>
            <td><ul>
                <li>playback of TV program(in standard screen)</li>
                <li>Electronic program guide</li>
                <li>Channel list(SD)</li>
                <li>automatic channel scan(SD)</li>
                <li>Display of subtitle/CC</li>
            </ul></td>
            <td><ul>
                <li>playback of TV program(in full and standard screen size)</li>
                <li>Electronic program guide</li>
                <li> Channel list(HD && SD)</li>
                <li> Automatic Channel Scan (HD && SD)</li>
                <li> Display of subtitle/CC</li>
                <li> Subtitle options</li>
                <ul>
                    <li>on and off</li>
                    <li>switch between different languages</li>
                </ul>
                <li>TV Recorder</li>
            </ul></td></tr>
    </table>
</div>