<h1 style="letter-spacing:0.2rem;">Royalty Report</h1>

<div class="contents">
    <p>Royalty Report主要在每周四交付，需要对已发行的产品许可数量进行记录与报告。</p>
    <p>数据采集来源主要来自公司内部的<a href="https://sshz.cidanash.com:9090/content.html#/itemClick/CONTENT_CUSTOMER?_k=qlpl7b">cidana Server</a>与Google 的<a href="https://analytics.google.com/analytics/web/?hl=zh-CN&pli=1#/report-home/a57757385w92473877p96271569">Google Analytics</a></p>
    <h3>&nbsp使用工具&nbsp</h3>
    <div class="row" style="margin-top:0.5rem;">
        <h4 style="margin-top:auto;">a) cidana Server</h4>
        <a style="margin-left:1.5rem;" target="_blank" href="https://sshz.cidanash.com:9090/content.html#/itemClick/CONTENT_CUSTOMER?_k=qlpl7b">+前往+</a>
    </div>
    <div style="margin-left:2.5rem;">
        <div>账号(区分大小写）：</div>
        <table border="1" style="margin-left:2.5rem;">
            <tr><td><b>Username:</b></td><td>Sophie</td> </tr>
            <tr><td><b>Password: </b></td><td>sophie</td></tr>
        </table>
    </div>
    <div style="margin-left:2.5rem;">网址：https://sshz.cidanash.com:9090/content.html#/itemClick/CONTENT_CUSTOMER?_k=qlpl7b
    </div>
    <div class="row" style="margin-top:0.5rem;">
    <h4 style="margin-top:auto;">b) Google Analytics</h4>
    <a target="_blank" style="margin-left:1.5rem;" href="https://analytics.google.com/analytics/web/?hl=zh-CN&pli=1#/report-home/a57757385w92473877p96271569">+前往+</a>
    </div>
    <div style="margin-left:2.5rem;">注意：Google Analytics的使用需要翻墙
    </div>
    <div style="margin-left:2.5rem;">账号：联系IT相关人员开设权限
    </div>
    <div style="margin-left:2.5rem;">
        网址：https://analytics.google.com/analytics/web/?hl=zh-CN&pli=1#/report-home/a57757385w92473877p96271569
    </div>

    <h3>&nbspRoyalty Report表格&nbsp</h3>
    <p>表格格式如下</p>
    <img src="/img/2020-04-23_12-20-41.png" alt="演示图片">
    <p><span class="numOrder">①</span>这里是统计的时间周期，对于当季度的时间，按周为单位进行统计；对本年度的过往季度，以季度为时间周期进行统计；对于往年，以年为单位进行统计；</p>
    <p><span class="numOrder">②</span>来源于CidanaServer的数据，用该颜色标注和source为CI的客户都是来自于Cidana Server的数据</p>

    <h3>&nbspCidana Server数据采集流程&nbsp</h3>
    <p>a)	使用提供的账户登陆Cidana Server，进入如下页面，并选择Customer。
        <img src="/img/2020-04-23_12-19-44.png" alt="演示图片" >
    </p>


    <h3>&nbspGoogle Analytics数据采集流程&nbsp</h3>

</div>