<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="icon" href="/img/favicon.ico"/>
    <script src="/js/general.js"></script>
    <link href="/css/general.css" rel="stylesheet" type="text/css"/>
</head>
<style>


</style>
<body style="display:flex;flex-direction:column;min-height:100vh;" onload="finishLoad()">
<div id="header">
    <div id="logo">TEST FRAME</div>
    <div style="background:rgba(218,218,218,0.8);width:1px;min-width:1px;height:1.2rem;margin-left:0.8rem;"></div>
    <div id="map1"><button>Documentation</button></div>
</div>
<div style="display:flex;flex-direction:row;flex:1;position:relative;">

    
    
    
    
    
    
    
    
    
    
    
    
    
                <div id="leftMap">
        <div>
            <button onclick="closeLeftMap()">Close ×</button>
            <span>Test Frame Version 1.0</span>
        </div>
        <div>
            <span class="link topLink">Introduction</span>
            <ul style="display:none;">
                <li>Getting Started</li>
                <li>Sitemap</li>
            </ul>
        </div>
        <div><span class="link topLink">Installation</span></div>
        <div><span class="link topLink">Manage your account</span>
            <ul style="display:none;">
                <li>admin panel</li>
                <li>mail notification</li>
            </ul>
        </div>
        <div>
            <span class="link topLink">Add a codebase</span>
            <ul style="display:none;">
                <li>github sync</li>
            </ul>
        </div>
        <div><span class="link topLink">Start a test</span>
            <ul style="display:none;">
                <li>Coverage test</li>
                <li>Conformance test</li>
                <li>Performance test</li>
                <li>Customized tests</li>
            </ul>
        </div>
        <div><span class="link topLink">Manage the results</span></div>
        <div><span class="link topLink">regression report</span></div>
        <div><span class="link topLink">Notification centre</span></div>
        <div><span class="link topLink">Job centre</span></div>
        <div><span class="link topLink">Contact us</span></div>
    </div>
    <div id="mapFloater" onclick="showLeftMap()">MAP</div>

    <div id="contents">
        <div class="t1">Getting Started</div>
        <div>The following page provides a simple example about how the test framework has assisted to improve the experience for a codec developers.</div>
        <div>The case has been run on the SVT-AV1 whose codebase could found from github at <img src="/img/githubIcon.png" style="height:1.2rem;margin-right:0.5rem;margin-left:0.5rem;"><a href="https://github.com/OpenVisualCloud/SVT-AV1" target="_blank">SVT-AV1</a> and with a pre-configuration whose details you could found at the page <a href="/manual/configuration">Configuration</a>.</div>
        <div class="important"> A video has to be inserted here.</div>
        <div class="t2">The dashboard of test framework</div>
        <div>The default dashboard of test framework has been made up of three tests and a regression report section which is specially designed to analyze the testing results generated by various testing tools.</div>
        <div><img src="/img/products/2020-08-06_19-07-11.png" style="width:100%;"></div>
        <div class="t3">Coverage report</div>
        <div>This testing tool has been designed to find out to which extent the codec has been covered by the test suit deployed.</div>
        <div>The result shall be displayed in a percentage which stands for how much the codec has been covered by the test suits, the higher the more parts of the codec is covered.</div>
        <div class="important">This time the test has told us that 92.4% of our codec has been covered by the test suits which means XXXX functions out of XXXXX functions and XXXXX lines out of XXXXX lines could be tested each time a test is run.</div>
        <div class="t3">Conformance report</div>
        <div>With this test, users could confirm if the encoded bit streams comply with a specialized codec specifications.</div>
        <div>The result is generated by running a certain number of tests on the codec that has been provided, to find out how many tests they've passed. The more tests the codec has passed, the more steady the codec is.</div>
        <div>The result is also provided as a percentage while the higher that number is the less crashes or discrepancies shall happen to the codecs.</div>
        <div class="important">This time the codec has passed all tests which means this is a highly steady version.</div>
        <div class="t3">Performance report</div>
        <div>This tool will provide some important data points that could help users to analyze a codec's performance, including but not limited to BD-rate, PSNR, VMAF and speed related variables.</div>
        <div>Details of these data points could be found at the page <a href="/manual/tests">Tests</a>.</div>
        <div class="important">With the generated test result we could find the data points listed as below:
        </div>
        <div class="t2">Regression Report</div>
        <div>The regression report is a centre where we can further analyze and find out all regressions happened in tests that have been run on the framework.</div>
        <div class="important">As we could see an alert under the performance test, there is a regression happened on the commit ID of XXXXX:
        </div>
        <div>with a single click on the alert, we could find details of the regression as below, yet we have no idea what changes we've made that has caused this regression. In order to find out, we could run a further analysis on all those commits that have been submitted and find out the exact one that has caused this.</div>
        <div>The details of the analysis could be found at <a href="/manual/regression">regression report</a>, as for this time we could see that the commit ID of XXXXXX has caused this regression.</div>
        <div>With a modification and another test we confirmed that the regression has been fixed and a comment could be added to the regression specifying how this has been fixed. Hopefully this could be a reference for any similar issues that'll happen in future.</div>
        <div>© CIDANA, Inc Test Frame</div>
    </div>
    <div id="endSign" style="display:none"></div>
</div>

</body>
</html>