<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%- title %></title>
    <base href="/">
    <link href="/css/general.css" rel="stylesheet" type="text/css"/>
    <link href="/css/projectInfo.css" rel="stylesheet" type="text/css"/>
    <link href="/fontawesome/css/all.min.css" rel="stylesheet" type="text/css"/>
    <script src="/lib/lz-string.min.js"></script>
    <script src="/lib/angular.min.js"></script>
    <script>
        var app = angular.module("dashboard",[]);
        app.config(function($locationProvider){
            $locationProvider.html5Mode(true);
        });
    </script>
    <script src="/js/general.js"></script>
    <script src="/js/doc.js"></script>
    <script src="/js/dataManager.js"></script>
    <script src="/js/projectFilter.js"></script>
    <script src="/js/projectInfo.js"></script>
    <script src="/js/projectInfoDocCon.js"></script>
    <script src="/js/projectInfoInfoCon.js"></script>
    <script src="/js/projectInfoAlertCon.js"></script>
    <script src="/js/projectInfoBugCon.js"></script>
    <script src="/js/projectInfoCommentCon.js"></script>
    <script src="/js/projectInfoPaymentCon.js"></script>
    <script src="/js/projectInfoReleaseCon.js"></script>
    <script src="/js/projectInfoPurchaseCon.js"></script>
</head>

<body ng-app="dashboard"
      ng-controller="rootCon">
<info-receiver  ng-init="project = '<%= encodeURIComponent(JSON.stringify(contents)) %>';
                         users = '<%= encodeURIComponent(JSON.stringify(users)) %>';
                         user = '<%= encodeURIComponent(JSON.stringify(user)) %>';
                         setting = '<%= encodeURIComponent(JSON.stringify(setting)) %>';"></info-receiver>
<div id="header">
    <div style="margin-top:auto;margin-bottom:auto;margin-left:1.5rem;"><%- header %></div>
    <div id="headerButtons">
        <a href="/account" target="_blank">ACCOUNT</a>
        <a href="/tutorial" target="_blank">REFERENCE</a>
    </div>
</div>
<div id="statusBar"><a href="/" target="_self">首页</a> > 当前状态:<span >{{project.status | status}}</span></div>
<div class="mainContents" ng-controller="infoCon">
    <div id="projectInfo">
        <div><div>platform:</div><div delivery-info info="platform"></div></div>
        <div><div>OS:</div><div delivery-info info="OS"></div></div>
        <div><div>current release:</div><div>{{currentRelease.title}}</div></div>
        <div><div>Active:</div>
            <select id="activeSelect" ng-model="projectDetail.active" ng-options="activeOption.value as activeOption.name for activeOption in activeOptions"></select>
        </div>
        <div><div>Account:</div><div info="{{project.account}}" type="name" account-info></div></div>
        <div>
        <div>Contacts:</div>
        <div>
           <div ng-repeat="contact in project.projectContacts">
               <button  ng-if="$index < 1" ng-click="showProjectContacts()" class="inlineBtn" style="padding:0;height:1rem;margin-right:0.5rem;">{{contact.name}}<{{contact.mail}}></button><button ng-click="mailTo(contact)" class="linkBtn" style="font-size:0.8rem;">MAIL</button>
           </div>
        </div>
        </div>
        <div style="width:100%;"><div>FTP:</div><div upload-account account="{{project.FTP}}"></div></div>
        <div style="width:100%;"><div>Address:</div><div address-format account="{{project.address}}"></div></div>
        <div style="width:100%;"><div>Reference:</div><button class="simpleBtn" style="font-weight:bold;margin-left:4rem;" ng-click="addReferenceDoc()">ADD</button></div>
        <div style="width:100%">
            <table class="dataListTable" style="margin-left:8rem;">
                <tr ng-if="referenceDocs.length === 0"><td colspan="4"><b>No Reference Docs added</b></td></tr>
                <tr ng-repeat="reference in referenceDocs">
                    <td style="min-width:12rem;">{{reference.name}}</td>
                    <td>{{reference.date | date:'&y-&m-&d'}}</td>
                    <td content-format contents="{{reference.description}}" style="padding-left:1.5rem;"></td>
                    <td content-format contents="{{reference.reference}}" style="padding-left:1.5rem;"></td>
                    <td><div doc-source doc="reference"></div></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="mainContents" ng-controller="alertCon">
    <div style="width:100%;display:flex;flex-direction:row;font-size:1.1rem;margin-top:-1rem;">
        <div style="font-weight:bold;margin-left:1rem;">ALERT</div>
        <div style="margin-left:auto;">
            <button class="inlineBtn" style="transform:scale(2);padding:0;margin-right:2rem;"><i class="fa fa-angle-down"></i></button>
        </div>
    </div>
    <div style="width:100%;border-bottom:solid 1px lightgray;padding-bottom:0.5rem;"></div>
    <div ng-show="!noAlert()" style="display:flex;flex-direction:column;">
        <div style="display:flex;flex-direction:row;">
            <button class="inlineBtn" id="btnPayment" ng-click="gotoAlertPage(1)" ng-disabled="alertPageIndex() === 1" ng-show="paymentAlerts.length >0">PAYMENT</button>
            <button class="inlineBtn" id="btnBugAlert" ng-click="gotoAlertPage(2)" ng-disabled="alertPageIndex() ===2" ng-show="taskAlerts.length >0">Bugfix</button>
            <div style="margin-left:auto;margin-right:4rem;margin-top:auto;margin-bottom:0;">
                <a href="/accounting/payment" target="_blank"  class="simpleBtn" style="text-decoration:none;line-height:1.5rem;font-family:Arial ,serif;margin-top:0.5rem;">View more</a>
            </div>
        </div>
        <div ng-show="alertPageIndex() === 1">
            <table style="margin-left:1rem;margin-top:1rem;">
                <tr ng-repeat="alert in paymentAlerts">
                    <td style="padding-left:2rem;"><div style="border-radius:0.3rem;text-align:center;line-height:1.3rem;width:1.3rem;height:1.3rem;padding:0;color:white;background:rgba(152,75,67,0.8);" class="inlineBtn">P</div></td>
                    <td style="padding-left:2rem;">Unpaid payments</td>
                    <td style="padding-left:2rem;">{{alert.PO}}&nbsp&nbsp&nbsp{{alert.status | payStatus}}
                        &nbsp&nbsp&nbsp{{alert.amount}} {{alert.currency | currency}}</td>
                    <td style="padding-left:2rem;">{{alert.date | date:'&y/&m/&d'}}</td>
                    <td style="padding-left:2rem;">Due By:</td>
                    <td style="padding-left:2rem;">Repeat By:</td>
                </tr>
            </table>
        </div>
        <div ng-show="alertPageIndex() === 2" style="display:flex;flex-direction:column;">
            <table style="margin-left:1rem;margin-top:1rem;">
                <tr ng-repeat="task in taskAlerts">
                    <td style="padding-left:2rem;"><div style="border-radius:0.3rem;text-align:center;line-height:1.3rem;width:1.3rem;height:1.3rem;padding:0;color:white;background:rgba(189,160,82,1);" class="inlineBtn">T</div></td>
                    <td style="padding-left:0.5rem;">{{task.title}}</td>
                    <td style="padding-left:0.5rem;">{{task.date | date:'&y/&m/&d'}}</td>
                    <td style="padding-left:0.5rem;max-width:17rem;"><div class="singleLine">{{task.comment}}</div></td>
                    <td style="padding-left:0.5rem;max-width:17rem;">
                        <div style="max-width:15rem;height:1rem;" ng-if="task.logs.length>0" class="singleLine">{{task.logs[0].date | date:'&y/&m/&d'}}&nbsp&nbsp{{task.logs[0].contents}}</div>
                    </td>
                    <td style="padding-left:0.5rem;">Due By:</td>
                </tr>
            </table>
        </div>
    </div>

    <div style="min-height:3.5rem;display:flex;flex-direction:column;margin-bottom:-1.5rem;" ng-show="noAlert()">
        <div style="margin:auto;font-weight:bold;height:1rem;">NO&nbsp&nbsp&nbsp&nbspUPDATES</div>
    </div>
</div>

<div style="display:flex;flex-direction:row;margin-left:2.5rem;" id="tabParent">
    <div tab-button>comments</div>
    <div tab-button>release history</div>
    <div tab-button>bugfix</div>
    <div tab-button>contracts</div>
    <div tab-button>payment</div>
    <div tab-button>purchase order</div>
</div>

<div  class="mainContents">
    <div ng-show="currentPage==='comments'" style="display:flex;flex-direction:column;" id="commentPanel" ng-controller="commentCon">
        <div ng-repeat="comment in comments" style="padding-top:1rem;padding-bottom:1rem;border-bottom:1px solid lightgray">
            <div style="display:flex;flex-direction:row;" class="subRow">
                <div>提交人：{{comment.user.name}}</div>
                <div>提交日期：{{comment.date | date:'&y/&m/&d &h:&i:&s'}}</div>
                <div>status：{{comment.status | status}}</div>
            </div>
            <div style="padding-left:2rem;padding-right:2rem;padding-top:0.5rem;" content-format contents="{{comment.comment}}">{{comment.comment}}</div>
        </div>
        <div style="margin:auto;" ng-show="requesting"> <i class="fa fa-spinner fa-spin fa-3x" style="margin:auto;"></i></div>
        <div class="pageCount" style="margin-top:1rem;margin-bottom:0.5rem;">
            <div ng-if="startIndex>1"><button ng-click="goToCommentPage(1)">1</button></div>
            <div ng-if="startIndex>2">…</div>
            <div ng-repeat="x in [].constructor(7) track by $index">
                <button ng-if="$index+startIndex <= page"
                        ng-click="goToCommentPage($index+startIndex)"
                        ng-disabled="pageId - startIndex === $index">{{$index+startIndex}}</button></div>
            <div ng-if="startIndex+7 < pageMax">…</div>
            <div ng-if="startIndex+7 <= page">
                <button ng-click="goToCommentPage(pageMax)">{{pageMax}}</button>
            </div>
        </div>
        <div style="display:flex;flex-direction:row;margin-top:2rem;">
            <div style="margin-left:1rem;">提交人：{{userInfo.name}}</div>
            <div style="margin-left:4rem;">schedule：</div>
            <input ng-disabled="!updatable()" type="date" id="commentTime">
            <div style="margin-left:4rem;">status：</div>
            <select ng-disabled="!updatable()" ng-model="projectUpdate.status">
                <option value="0">opportunities</option>
                <option value="1">business</option>
                <option value="2">development</option>
                <option value="3">delivery </option>
                <option value="4">maintenance</option>
                <option value="7">mass production</option>
            </select>
        </div>
        <textarea ng-model="commentSubmit.contents" ng-disabled="!updatable()"></textarea>
        <div style="display:flex;flex-direction:row;">
            <button id="submitButton" ng-click="submitComment()" ng-disabled="!updatable()">提交</button>
        </div>
    </div>

    <div ng-show="currentPage==='release history'" style="display:flex;flex-direction:column;" ng-controller="releaseCon">
        <button style="margin-left:auto;margin-right:2rem;margin-bottom:1.5rem;" class="simpleBtn" ng-click="showCover('release')">ADD RELEASE</button>
        <table style="margin-left:auto;margin-right:auto;" class="dataListTable">
            <tr>
                <td>VERSION</td>
                <td>DESCRIPTION</td>
                <td>UPLOADED</td>
                <td>DOWNLOAD</td>
                <td>QA REPORT</td>
            </tr>
        <tr ng-show="versions.length === 0">
           <td colspan="5" style="text-align:center;"><b>No record of versions under this project</b></td>
        </tr>
        <tr ng-repeat="release in versions" class="entry">
                <td valign="top"style="line-height:1.5rem;height:1.5rem;">{{release.version.main}}.{{release.version.update}}.{{release.version.fix}}</td>
                <td valign="top"><div  style="width:25rem;min-width:25rem;margin:0;text-overflow:ellipsis;height:1.5rem;word-break:break-all;overflow:hidden;"
                                       content-format
                                       contents={{release.description}}></div></td>
                <td valign="top">{{release.date | date:'&y-&m-&d &h:&i:&s'}}</td>
                <td valign="top" style="text-align:center">
                    <a href="{{release | positionAndLink}}" target="_blank"><img src="{{release | positionAndLinkIcon}}" style="width:1.2rem;"></a>
                </td>
                <td></td> 
                <td valign="top"><button class="inlineBtn" style="transform:scale(1.5);width:1.5rem;" ng-click="expandData($event,release.description)"><i class="fa fa-angle-down"></i></button></td>
        </tr>
        </table>
    </div>

    <div ng-show="currentPage=='contracts'" style="display:flex;flex-direction:column;" ng-controller="docCon">
        <button style="margin-left:auto;margin-right:2rem;" class="simpleBtn" ng-click="showCover('contracts')">ADD DOCUMENT</button>
        <table style="margin-left:auto;margin-right:auto;margin-top:2rem;" class="dataListTable">
            <tr>
                <td>NAME</td>
                <td>DATE</td>
                <td>Description</td>
                <td>TYPE</td>
                <td>DOWNLOAD</td>
                <td>HISTORY</td>
                <td>REFERENCE</td>
                <td></td>
            </tr>
            <tr ng-show="docs.length === 0"><td colspan="7" style="text-align:center;">
                <b>No record of bugs under this project</b>
            </td></tr>
            <tr ng-repeat="doc in docs">
                <td>{{doc.name}}</td>
                <td>{{doc.date | date:'&y-&m-&d &h:&i:&s'}}</td>
                <td content-format contents="{{doc.description}}" style="width:15rem;"></td>
                <td><b>{{doc.type | docType}}</b></td>
                <td>
                    <div style="text-align:center;" ng-if="doc.link!==''"><a href="{{doc | docLink:'1'}}" target="_blank"><img src="{{doc | docIcon}}" style="width:1.2rem;"></a></div>
                    <div style="text-align:center;"><button class="simpleBtnRight" ng-click="modify(doc)">{{doc.link === ''? 'ADD':'MODIFY'}}</button></div>
                </td>
                <td>
                    <div ng-if="(doc.history && doc.history.length === 0) || !doc.history" style="margin-top:auto;margin-bottom:auto;">Not re-uploaded</div>
                    <div style="display:flex;flex-direction:column;">
                    <span ng-repeat="rec in doc.history">{{rec.date | date:'&y/&m/&d'}}<img src="{{rec.link | linkIcon}}" style="width:1.2rem;margin-left:0.5rem;"></span>
                    </div>
                </td>
                <td content-format contents="{{doc.reference}}" style="width:15rem;"></td>
                <td style="padding-right:2rem;">
                    <button class="closeButtonInline" ng-click="deleteDocument(doc)"><i class="fas fa-times-circle" style="transform:scale(1.5);"></i></button>
                </td></tr>
        </table>
    </div>

    <div ng-show="currentPage=='bugfix'" style="display:flex;flex-direction:column;" ng-controller="bugCon">
        <button style="margin-left:auto;margin-right:2rem;" class="simpleBtn" ng-click="showCover('bugfix')">ADD BUGFIX</button>
        <table style="margin-left:auto;margin-right:auto;margin-top:2rem;border-collapse:collapse;" class="dataListTable">
            <tr style="font-weight:bold;">
                <td>TITLE</td>
                <td>DATE</td>
                <td>VERSION</td>
                <td>DEVELOPER</td>
                <td>COMMENT</td>
                <td>LOG</td>
                <td style="text-align:center;" >STATUS</td>
            </tr>
            <tr ng-show="bugs.length === 0" style="text-align:center;margin-top:1rem;font-size:1rem;">
                <td colspan="6"><b>No record of bugs under this project</b></td></tr>
            <tr ng-repeat="bug in bugs" style="border-bottom:solid 1px lightgray;">
                <td style="max-width:12rem;">{{bug.title}}</td>
                <td>{{bug.date | date:'&y/&m/&d'}}</td>
                <td>{{bug.version|version}}</td>
                <td style="display:flex;flex-direction:column;padding-top:1.2rem;">
                    <div ng-repeat="developer in bug.developers">◉ {{developer.name}}</div>
                </td>
                <td style="width:22rem;max-width:15rem;white-space:normal;word-break:break-all;max-height:12rem;overflow-y:auto;padding-bottom:1.2rem;padding-top:1.2rem;padding-right:0.5rem;padding-left:0.5rem;"
                    content-format contents="{{bug.comment}}">{{bug.comment}}</td>
                <td style="min-width:20rem;padding-left:1rem;padding-right:0.5rem;margin-bottom:1rem;"><div style="display:flex;flex-direction:column;height:12rem;">
                        <div style="display:flex;flex-direction:row;padding-top:1.2rem;">
                            <button class="simpleBtn"
                                    style="margin-left:0.5rem;margin-right:auto;"
                                    ng-click="addLog(bug)">add</button>
                            <button class="simpleBtn"
                                    ng-show="bug.logs.length>0"
                                    style="margin-right:0.5rem;margin-bottom:0.5rem;"
                                    ng-click="viewAllLog(bug)">view all</button>
                        </div>
                        <div style="flex:1;margin-top:0.8rem;">
                            <div ng-repeat="log in bug.logs" style="display:flex;flex-direction:row;" ng-if="$index < 5">
                                <div style="margin-right:0.5rem;padding-left:1rem;">{{log.date | date:'&y/&m/&d'}}</div>
                                <div style="margin-right:0.5rem;">{{log.user.name}}</div>
                                <div style="margin-right:0.5rem;">{{log.contents | shortenContents}}</div>
                            </div>
                            <div ng-if="bug.logs.length>5" style="text-align:center;">...</div>
                            <div ng-if="bug.logs.length ===0" style="font-weight:bold;text-align:center;font-weight:bold;">No logs added so far</div>
                        </div>
                 </div></td>
                <td style="text-align:center;"><button class="inlineBtn" ng-click="changeTaskStatus(bug)" style="font-size:1.2rem;" >{{bug.status | bugStatus}}</button></td>
            </tr>
        </table>
    </div>

    <div ng-show="currentPage=='payment'" style="display:flex;flex-direction:column;" ng-controller="paymentCon">
        <div style="margin-left:auto;margin-right:2rem;font-family:Arial,serif;">
            <button  class="simpleBtn" ng-click="showCover('payment')">Add payment</button>
            <a class="simpleBtn" href="/accounting/payment" target="_blank" style="text-decoration:none;margin-left:1.5rem;">View more</a>
        </div>
        <table class="dataListTable" style="margin-left:auto;margin-right:auto;margin-top:2rem;">
            <tr><td>PAYER</td><td>PO</td><td>DATE</td></td><td>PAYMENT</td><td style="text-align:center;">STATUS</td><td>COMMENT</td><td>INVOICE</td><td>DOC</td><td></td></tr>
            <tr ng-show="payments.length ===0"><td colspan="8" style="text-align:center;">
                <b>No Payments Record for this project</b>
            </td></tr>
            <tr><td colspan="4">&nbsp</td></tr>
            <tr ng-repeat="payment in payments">
                <td>{{payment.account.name}}</td>
                <td>{{payment.PO}}</td>
                <td>{{payment.date | date:'&y/&m/&d &h:&i:&s'}}</td>
                <td>{{payment.amount}} {{payment.currency | currency}}</td>
                <td payment-status status="{{payment.status}}" style="text-align:center;">{{payment.status | payStatus}}</td>
                <td content-format contents="{{payment.comment}}"></td>
                <td doc-link contents="{{payment.invoice}}" type="invoice" style="text-align:left;min-width:5rem;"></td>
                <td doc-link contents="{{payment.doc}}" type="doc" style="text-align:left;"></td>
                <td style="display:flex;flex-direction:column;text-align:center;">
                    <button ng-click="edit(payment)" class="linkBtn">EDIT</button>
                    <button ng-click="delete(payment)" class="linkBtn" styler="margin-top:0.5rem;">DELETE</button></td>
            </tr>
        </table>
    </div>


    <div ng-show="currentPage === 'purchase order'" style="display:flex;flex-direction:column;" ng-controller="purchaseCon">
        <div style="margin-left:auto;margin-right:2rem;font-family:Arial,serif;">
            <button  class="simpleBtn" ng-click="showCover('Purchase')">Add Purchase Order</button>
        </div>
        <table class="dataListTable" style="margin-left:auto;margin-right:auto;margin-top:2rem;">
            <tr><td>PO</td><td>DATE</td></td><td>Amount</td><td style="text-align:center;">Price</td><td>comment</td></tr>
            <tr ng-show="POs.length ===0"><td colspan="8" style="text-align:center;">
                <b>No purchase orders found under this project</b>
            </td></tr>
            <tr><td colspan="4">&nbsp</td></tr>
            <tr ng-repeat="PO in POs">
                <td>{{PO.index}}</td>
                <td>{{PO.date | date:'&y/&m/&d &h:&i:&s'}}</td>
                <td>{{PO.amount}}</td>
                <td>{{PO.price}} {{PO.currency | currency}}</td>
                <td>{{PO.comment}}</td>
                <td style="display:flex;flex-direction:row;">
                    <button ng-click="edit(payment)" style="margin-left:2rem;" class="linkBtn">EDIT</button>
                    <button ng-click="delete(payment)" class="linkBtn" style="margin-left:1rem;">DELETE</button></td>
            </tr>
        </table>
    </div>
</div>

<div id="pageCover" class="coverLayer" style="background:rgba(58,58,58,0.4);position:fixed;display:none;">
    <div class="addDoc" style="position:relative;display:flex;flex-direction:column;">
        <div style="margin:1rem;display:flex;flex-direction:column;overflow-y:auto;" id="coverDetail"></div>
        <div style="display:flex;flex-direction:row;margin-bottom:1.5rem;margin-top:auto;">
            <button style="margin-left:6rem;margin-right:auto;" ng-click="submitDoc()">提交</button>
            <button style="margin-left:auto;margin-right:6rem;" ng-click="cancelDoc()">取消</button>
        </div>
        <div class="addDocCover coverLayer" style="z-index:99;background:rgba(218,218,218,0.4);display:flex;" ng-show="saving">
            <i class="fa fa-spinner fa-spin fa-3x" style="margin:auto;"></i>
        </div>
    </div>
</div>

</body>
</html>