<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%- title %></title>
    <base href="/">
    <link href="/css/general.css" rel="stylesheet" type="text/css"/>
    <link href="/css/projectInfo.css" rel="stylesheet" type="text/css"/>
    <link href="/fontawesome/css/all.min.css" rel="stylesheet" type="text/css"/>
    <script src="/lib/lz-string.min.js"></script>
    <script src="/lib/angular.min.js"></script>
    <script>
        var app = angular.module("dashboard",[]);
        app.config(function($locationProvider){
            $locationProvider.html5Mode(true);
        });
    </script>
    <script src="/js/general.js"></script>
    <script src="/js/doc.js"></script>
    <script src="/js/dataManager.js"></script>
    <script src="/js/projectFilter.js"></script>
    <script src="/js/taskInfoCon.js"></script>
</head>
<style>
    ul{
        margin-left:2rem;
    }
</style>
<body ng-app="dashboard"
      ng-controller="rootCon">
<info-receiver  ng-init="user = '<%= encodeURIComponent(JSON.stringify(user)) %>';
                         createdAt = '<%= encodeURIComponent(JSON.stringify(createdAt)) %>';
                         id = '<%- id %>';
                         status = '<%- status %>';
                         schedule = '<%= encodeURIComponent(JSON.stringify(schedule)) %>'"></info-receiver>
<div id="header">
    <div id="headerButtons">
        <a href="/account" target="_blank">ACCOUNT</a>
        <a href="/tutorial" target="_blank">REFERENCE</a>
    </div>
</div>
<div id="statusBar" style="display:flex;flex-direction:row;">
    <a href="/tasks" target="_self" style="margin-right:0.5rem;">BACK</a>
    <span> >  Created On {{ create | date:'&y/&m/&d'}} by <%- submitter.name %></span>
    <button style="margin-left:auto;margin-right:0.5rem;" ng-disabled="taskUpdating || task.status>=4"  ng-click="pendTask()">HANG</button>
    <button ng-disabled="taskUpdating" ng-click="closeTask()">{{ task.status | buttonStatus}}</button>
    <button style="margin-left:0.5rem;margin-right:2rem;" ng-disabled="taskUpdating || task.progress >= 100" ng-click="completeTask()">COMPLETE</button>
</div>
<div class="mainContents" id="mainContents_0" style="display:flex;flex-direction:column;" ng-controller="infoCon">
    <div style="font-size:1.5rem;font-weight:bold;display:flex;flex-direction:row;">
        <%- title %>
        <div style="margin-left:1.5rem;background:rgba(152,75,67,1);padding:2px;border-radius:5px;color:white;min-width:2rem;text-align:center;height:1.7rem;font-size:1.3rem;">{{task.hours}}</div>
    </div>


    <!--    Basic Info -->
    <div style="display:flex;flex-direction:row;margin-top:0.5rem;margin-left:0.5rem;">
        <div style="margin-right:0.5rem;">MAN HOURS:</div>
        <div style="min-width:4rem;color:rgba(152,75,67,0.8);font-weight:bold;">{{task.hours}}</div>
        <div style="margin-left:1rem;margin-right:0.5rem;">MAN DAYS:</div>
        <div style="min-width:4rem;color:rgba(152,75,67,0.8);font-weight:bold;">{{task.hours | hourToDay}}</div>
        <div style="margin-left:1rem;margin-right:0.5rem;">COMPLETED ON:</div>
        <div style="min-width:4rem;color:rgba(152,75,67,0.8);font-weight:bold;">{{task.completed | date:'&y-&m-&d'}}</div>
    </div>
    <div style="margin-top:1rem;margin-left:0.5rem;margin-bottom:1.5rem;display:flex;flex-direction:column;font-weight:bold;">
        <div>Participated Engineer:</div>
    </div>

<!--    关联Task-->
    <div style="display:flex;flex-direction:column;margin-bottom:0.5rem;padding-top:0.3rem;padding-left:0.5rem;">
        <div style="display:flex;flex-direction:row;font-weight:bold;">BELONG TO:
            <button style="margin-left:auto; margin-right:2rem;" ng-click="addParentTask()">ADD</button></div>
        <div ng-show="!task.parent || task.parent.length ===0" style="margin-left:1.5rem;color:gray;margin-top:0.5rem;">No Parent Task</div>
        <div ng-repeat="line in task.parent" style="padding-left:0.5rem;width:100%;display:flex;flex-direction:row;">
            <task-type type="{{line.type}}" style="font-size:0.5rem;margin-top:3px;"></task-type>
            <div sub-task>
                <div progress-bar progress="{{line.progress}}"  id="{{line._id}}" style="height:100%;top:0;position:absolute;left:0;z-index:0;"></div>
                <div style="z-index:5;position:relative;">{{line.title}}</div>
                <a style="opacity:0;width:100%;top:0;position:absolute;left:0;" href="{{'/task/info?id='+line._id}}" target="_blank" >a</a>
                <div style="opacity:0.4;left:0;top:0;position:absolute;height:100%;width:100%;"></div>
            </div>
        </div>
    </div>

    <div style="display:flex;flex-direction:column;margin-bottom:0.5rem;padding-top:0.3rem;padding-left:0.5rem;">
        <div style="display:flex;flex-direction:row;font-weight:bold;">SUB TASK:
            <button style="margin-left:auto; margin-right:2rem;" ng-click="addChildTask()">ADD</button></div>
        <div ng-show="!task.children || task.children.length ===0" style="margin-left:1.5rem;color:gray;margin-top:0.5rem;">No Children Task</div>
        <div ng-repeat="line in task.children" style="padding-left:0.5rem;width:100%;display:flex;flex-direction:row;">
            <task-type type="{{line.type}}" style="font-size:0.5rem;margin-top:3px;"></task-type>
            <div style="color:rgba(152,75,67,1);margin-top:3px;padding:5px;">{{line.hours}}</div>
            <div style="display:inline-block;padding:5px;margin:5px;border-radius:5px;position:relative;flex:1;margin-left:0.5rem;margin-right:2rem;overflow:hidden;" sub-task>
                <div progress-bar progress="{{line.progress}}" id="{{line._id}}" style="height:100%;top:0;position:absolute;left:0;z-index:0;"></div>
                <div style="z-index:99;position:relative;">{{line.title}}</div>
                <a style="opacity:0;width:100%;position:absolute;left:0;" href="{{'/task/info?id='+line._id}}" target="_blank" >a</a>
                <div style="opacity:0.4;left:0;top:0;position:absolute;height:100%;width:100%;"></div>
            </div>
        </div>
    </div>


    <!--    说明-->

    <div style="min-height:1rem;padding:0.5rem;">
          <span ng-repeat="attach in task.attachments" class="backGrayBtn" style="padding:5px;margin-right:0.5rem;" ng-click="openAttach(attach.link,attach.name)">
              <img src="{{attach.name | linkIcon}}" style="width:1.2rem;margin-left:0.5rem;">
              <span style="max-width:6rem;">{{attach.name}}</span>
          </span>
    </div>
    <div style="margin-top:0.5rem;min-height:5rem;" ng-hide="addingDesc" id="description"><%- description %></div>
    <div style="display:flex;flex-direction:row;"><button style="margin-left:auto" ng-disabled="taskUpdating" ng-click="switchAddDesc()">EDIT</button></div>

    <div ng-show="addingDesc" style="display:flex;flex-direction:column;border:solid 1px rgba(152,75,67,1);border-radius:5px;padding:1.5rem;box-shadow: 4px 0 5px -3px rgba(185,185,185,0.8);">
        <textarea style="min-height:6rem;" ng-disabled="taskUpdating" id="descriptionBox"></textarea>
        <div style="display:flex;flex-direction:row;">
            <button class="submitButton" ng-click="submitDescription()" ng-disabled="taskUpdating">保存</button>
        </div>
    </div>

    <div ng-repeat="desc in addDescription">{{desc.contents}}</div>
    <!--    End  补充说明-->


    <div style="margin:1.5rem;margin-left:0;margin-right:0;border-bottom:solid 1px rgba(205,205,205,1);"></div>


<!--    评论内容-->
    <div style="display:flex;flex-direction:column;min-height:6rem;flex:1;margin-left:1.5rem;">
        <div ng-show="comments.length === 0" style="margin:auto;color:rgba(140,140,140,0.8);font-size:2rem;">NO COMMENT NOW</div>
        <div ng-repeat="comment in comments" >
            <div style="display:flex;flex-direction:row;" class="subRow" ng-if="comment.type <2 || comment.type>= 10" comment-type type="{{comment.type}}" usertype="{{comment.user.type}}">
                <div>提交人：{{comment.user.name}}</div>
                <div>提交日期：{{comment.date | date:'&y/&m/&d &h:&i:&s'}}</div>
                <div>status：{{comment.status | taskStatus}}</div>
                <div>man hours：{{comment.hours}}</div>
            </div>
            <div ng-if="comment.type <2 || comment.type >=10" style="min-height:1rem;padding:0.5rem;margin-left:1.5rem;"><span ng-repeat="attach in comment.attachments" class="backGrayBtn" style="padding:5px;margin-right:0.5rem;" ng-click="openAttach(attach.link,attach.name,attach)" >
              <img src="{{attach.name | linkIcon}}" style="width:1.2rem;margin-left:0.5rem;">
              <span style="max-width:6rem;">{{attach.name}}</span>
          </span></div>
            <div style="padding-left:2rem;padding-right:2rem;padding-top:0.5rem;" content-format contents="{{comment.comment}}">{{comment.comment}}</div>
            <div style="margin:1rem;border-bottom:solid 1px rgba(205,205,205,1);"></div>
        </div>
    </div>

    <div class="pageCount" style="margin-top:1rem;margin-bottom:0.5rem;" ng-show="commentPage.maxCount >0 ">
        <div ng-if="commentPage.startIndex>1"><button ng-click="goToCommentPage(1)">1</button></div>
        <div ng-if="commentPage.startIndex>2">…</div>
        <div ng-repeat="x in [].constructor(7) track by $index">
            <button ng-if="$index+commentPage.startIndex <= commentPage.page"
                    ng-click="goToCommentPage($index+ commentPage.startIndex)"
                    ng-disabled="commentPage.pageId - commentPage.startIndex === $index">{{$index+commentPage.startIndex}}</button></div>
        <div ng-if="commentPage.startIndex+7 < commentPage.pageMax">…</div>
        <div ng-if="commentPage.startIndex+7 <= commentPage.page">
            <button ng-click="goToCommentPage(commentPage.pageMax)">{{commentPage.pageMax}}</button>
        </div>
    </div>


<!--    底部新评论-->
    <div style="display:flex;flex-direction:column;padding:1.5rem;margin-top:2rem;">
        <div style="display:flex;flex-direction:row;margin-top:0.5rem;margin-bottom:1.5rem;">
            <button ng-disabled="userType===0" style="margin-left:1.5rem;" ng-click="switchUserType(0)">PM</button>
            <button ng-disabled="userType===1" style="margin-left:1.5rem;" ng-click="switchUserType(1)">ENGINEER</button>
        </div>
        <div style="display:flex;flex-direction:row;">
            <div style="margin-left:1rem;" ng-show="userType ===1">工程师：</div>
            <select ng-disabled="!updatable(1)" ng-show="userType===1" ng-model="engineer" style="min-width:5rem;">
                <option ng-repeat="engineer in engineers" value="{{engineer._id}}">{{engineer.name}}</option>
            </select>

            <div style="margin-left:1rem;" ng-show="userType ===0">提交人：{{user.name}}</div>
            <div style="margin-left:4rem;">schedule：</div>
            <input ng-disabled="!updatable(1)" type="date" id="commentTime">
            <div style="margin-left:4rem;" ng-show="userType===0">status：</div>
            <select ng-disabled="!updatable(1)" ng-model="status" ng-show="userType===0">
                <option value="0">Verifying</option>
                <option value="1">Engineer Assigned</option>
                <option value="2">QA</option>
                <option value="3">Feedback </option>
            </select>
            <div></div>
            <div style="margin-left:2rem;">Hours spent:</div>
            <input ng-disabled="!updatable(1)" style="margin-left:0.5rem;width:3rem;" type="number" ng-model="manHour">
        </div>
        <div style="display:flex;flex-direction:row;margin-bottom:0.5rem;">
            <div style="flex:1;display:flex;flex-direction:row;flex-wrap:wrap;margin-left:2rem;">
                <span ng-repeat="attach in attachments['1']" style="margin-right:0.5rem;">
                     <img src="{{attach.name | linkIcon}}" style="width:1.2rem;margin-left:0.5rem;">
                     <span style="max-width:6rem;">{{attach.name}}</span>
                     <button  class="closeBtnInline" ng-click="deleteAttach(attach,1)"><i class="fas fa-times-circle"></i></button>
                </span>
            </div>
            <div style="display:flex;flex-direction:row;margin-left:auto;border-radius:3px; background:rgba(230,230,230,0.8);padding:0.5rem;margin-right:2rem;box-shadow: 4px 0 5px -3px rgba(185,185,185,0.8);">
                <input  id="attachUpload1" ng-disabled="!updatable(1)" style="margin-left:auto;" type=file>
                <button ng-click="uploadAttach(1,null,'comment')"  ng-disabled="!updatable(1)" style="margin-left:0.5rem;">Upload</button>
            </div>
        </div>
        <textarea style="min-height:6rem;" ng-model="comment[1]" ng-disabled="!updatable(1)"></textarea>
        <div style="display:flex;flex-direction:row;">
            <button class="submitButton" ng-click="submitComment(1)" ng-disabled="!updatable(1)" style="margin-left:auto;margin-right:3rem;">提交</button>
        </div>
    </div>
<!--   END 底部新评论-->
</div>


<!--   Cover Page-->
<div id="pageCover" class="coverLayer" style="background:rgba(58,58,58,0.4);position:fixed;display:none;flex-direction:column;z-index:999;" ng-controller="coverCon">
    <div id="infoBoard" class="addTask addDoc" style="position:relative;">
        <div class="addDocCover coverLayer" style="z-index:99;background:rgba(218,218,218,0.4);" ng-show="savingTask">
            <i class="fa fa-spinner fa-spin fa-3x" style="margin:auto;"></i>
        </div>

        <div id="alertBoard" ng-show="infoType===0">
            <div id="alertTaskInfo" style="margin:2rem;"></div>
            <div style="display:flex;flex-direction:row;margin-top:1rem;" id="alertTaskButton">
                <button style="margin-left:6rem;margin-right:auto;" ng-click="answerAlert(true)" ng-disabled="savingTask">提交</button>
                <button style="margin-left:auto;margin-right:6rem;" ng-click="answerAlert(false)" ng-disabled="savingTask">取消</button>
                <button style="margin-left:auto;margin-right:auto;" ng-click="answerAlert(false)" ng-disabled="savingTask">确定</button>
            </div>
        </div>

        <div id="newTaskBoard" ng-controller="newTaskCon" ng-show="infoType===1" style="margin:2rem;display:flex;flex-direction:column;" >
            <div style="display:flex;flex-direction:row;margin-bottom:0.5rem;">
                <button ng-disabled="mode===0" ng-click="switchMode(0)" ng-disabled="status ===2 ">Existed</button>
                <button ng-disabled="mode===1" ng-click="switchMode(1)" ng-show="type===1" style="margin-left:1rem;" ng-disabled="status===2">NEW</button>
            </div>
            <!--               Existed task-->
            <div style="display:flex;flex:1;flex-direction:column;" ng-show="mode===0">
                <div>Pease provide a task id for existed task:</div>
                <div style="display:flex;flex-direction:row;margin-top:0.5rem;margin-left:auto;margin-right:auto;">
                    <input ng-model="taskId">
                    <button style="margin-left:1rem;margin-right:2rem;" ng-click="searchTask()" ng-disabled="status===2">Search</button></div>
                <table style="min-height:3rem;">
                    <tr ng-repeat="task in existedTasks">
                        <td info-line info="{{task.account}}" minWidth="6rem"></td>
                        <td info-line info="{{task.project}}" minWidth="8rem"></td>
                        <td >{{task.title}}</td>
                    </tr>
                    <tr ng-show="status===2"><td colspan="4">   <i class="fa fa-spinner fa-spin fa-3x" style="margin:auto;"></i></td></tr>
                    <tr ng-show="existedTasks.length===0 && status===4" > <td colspan="4">No related tasks found</td></tr>
                </table>
                <div style="display:flex;flex-direction:row;margin-bottom:1rem;">
                    <button ng-click="addRelatedTask()" style="margin-left:auto;margin-right:auto;" ng-disabled="status!==4">ADD</button>
                </div>
            </div>

            <!--                basic function-->
            <div style="display:flex;flex-direction:row;margin-top:auto;margin-bottom:2rem;">
                <button style="margin-left:auto;margin-right:auto;" ng-click="answerAlert(false)" ng-disabled="status ===2">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--END COVER PAGE-->
</body>
</html>